<!doctype html>
<html>

<head>
    <title>Gohdan</title>
</head>

<body>
    <div class="container">
        <div>
            <h1><span></span> Welcome to Gohdan Administrative Console</h1>
        </div>

        <form action="/login" method="post">
            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>