<!doctype html>
<html>

<head>
    <title>Gohdan App</title>
</head>

<body>
    <div class="container">
        <div>
            <h1>
                <span></span> Welcome to Gohdan
            </h1>

            <a href="/login"><span></span>Login</a>
        </div>
    </div>
</body>

</html>